doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/app.css')
    
  body
    #container
    
        div#header  
          div#sidebar-header  
            h2#team-name Lau's Slack clone
          div#messages-header
            h2#channel-name # general
            
        div#sidebar      
          //- Channels
          div#channels
            h3#channels-header Channels (#{channels.length})
            ul.channels-list
              each channel in channels
                li
                  a(href='/'+channel) # #{channel}
                  
        // Messages
        div#messages
          block main

    script(src='/dist/js/bundle.js')
